numpy==1.17.* ; python_version == '3.8' and platform_machine not in 'arm64|aarch64'
numpy==1.19.* ; python_version == '3.8' and platform_machine == 'aarch64'
numpy==1.21.* ; python_version == '3.8' and platform_machine == 'arm64'
numpy>=2.0.0rc2 ; python_version >= '3.9'

#-------------------------------

cmake >= 3.23
cython
pybind11
setuptools >= 64
setuptools_scm >= 8
wheel >= 0.30

contextvars ;python_version<"3.7"
dataclasses ;python_version<"3.7"
