# numpy pinning for ABI forward-compatibility
numpy==1.16.5 ; python_version < "3.8" and platform_machine !='aarch64'
numpy==1.17.* ; python_version == "3.8" and platform_machine !='aarch64'
numpy==1.19.4 ; python_version == "3.9" and platform_machine !='aarch64'

# NOTE: oldest-supported-numpy (1.19.2) had forward ABI compat problems
numpy==1.20.* ; python_version < "3.10" and platform_machine=='aarch64'
numpy==1.21.* ; python_version == "3.10"
numpy>=1.23.2 ; python_version >= "3.11"

#-------------------------------

cmake >= 3.23
cython < 3.0
pybind11 < 2.11.0
setuptools>=42
setuptools_scm >= 1.5.4
wheel >= 0.30

contextvars ;python_version<"3.7"
dataclasses ;python_version<"3.7"
