global-exclude .gitignore

exclude MANIFEST.in
exclude .dockerignore
exclude .readthedocs.yml
exclude .travis.yml
exclude azure-pipelines.yml
exclude misc/*
exclude requirements_dev.txt
exclude tox.ini

include README.md

prune doc
