numpy >= 1.16.5

# -------------------------------------
# sync with misc/requirements_wheel.txt
cython >= 0.27
pybind11 >= 2.6.2
setuptools >= 18.0
setuptools_scm >= 1.5.4
wheel >= 0.30
contextvars ;python_version<"3.7"
dataclasses ;python_version<"3.7"
