# note: cmake 3.13 is the last manylinux1 release on pypi
cmake >= 3.13
cython
pybind11
wheel
setuptools-scm
tox
# numpy 1.20 dropped python 3.6 support
numpy<1.20 ; python_version < "3.7"
-r requirements.txt
