numpy >= 1.16.5

# ------------------------------------------------
# ** MUST sync with misc/requirements_wheel.txt **
# ------------------------------------------------
build
cmake >= 3.23
cython < 3.0
pybind11
setuptools >= 64
setuptools_scm >= 8
wheel >= 0.30
contextvars ;python_version<"3.7"
dataclasses ;python_version<"3.7"
pytest
-r misc/requirements_test.txt
