numpy>=1.17 ; python_version == '3.8' and platform_machine not in 'arm64|aarch64'
numpy>=1.19 ; python_version == '3.8' and platform_machine == 'aarch64'
numpy>=1.21 ; python_version == '3.8' and platform_machine == 'arm64'
numpy>=1.25 ; python_version >= '3.9'
packaging

contextvars ;python_version<"3.7"
dataclasses ;python_version<"3.7"
