name: Daily Tests TileDB-Py

on:
  schedule:
    # runs every day at 5:00 UTC (1:00AM EST / Midnight CST)
    - cron: "0 5 * * *"
  workflow_dispatch:

jobs:
  ci1:
    uses: ./.github/workflows/daily-test-build.yml
    with:
      libtiledb_version: 'dev'

  ci2:
    uses: ./.github/workflows/daily-test-build.yml
    with:
      libtiledb_version: 'release-2.23'

  ci3:
    uses: ./.github/workflows/daily-test-build.yml
    with:
      libtiledb_version: 'release-2.22'

  ci4:
    uses: ./.github/workflows/daily-test-build-numpy.yml
    with:
      libtiledb_version: 'release-2.22'
