name: Daily Test Build TileDB-Py Against Core

# on: [push]

on:
  schedule:
    # runs every day at 5:00 UTC (1:00AM EST / Midnight CST)
    - cron: "0 5 * * *"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-10.15, windows-latest]

    permissions:
      issues: write
    env:
      TILEDB_VERSION: dev

    steps:
    - name: Set up Python
      uses: actions/setup-python@v2

    - name: Print Python version
      run: |
        which python
        which pip
        python --version

    - name: Print env
      run: printenv

    - name: Checkout TileDB-Py `dev`
      uses: actions/checkout@v2

    - name: Install dependencies
      run: python -m pip install --upgrade -r misc/requirements_ci.txt

    - name: Build TileDB-Py
      run: |
        python setup.py build_ext --inplace --werror
        python setup.py install

    - name: Test TileDB-Py
      run: pytest -vv
  
    - name: Create Issue if Build Fails
      if: failure()
      uses: JasonEtco/create-an-issue@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
