name: Daily Test Build TileDB-Py Against Core

#on: [push]

on:
  schedule:
    # runs every day at 5:00 UTC (1:00AM EST / Midnight CST)
    - cron: "0 5 * * *"

jobs:
  test-wheels-on-azure:
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%a-%Y-%m-%d')"
    - name: Get libtiledb short SHA
      run: echo "LIBTILEDB_SHA=$(git ls-remote https://github.com/TileDB-Inc/TileDB HEAD | cut -c1-7)" >> $GITHUB_ENV
    - name: Create Test Branch for Azure Wheel Nightly Build
      uses: peterjgrainger/action-create-branch@v2.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        branch: 'azure-wheel-test-${{ steps.date.outputs.date }}-against-${{ env.LIBTILEDB_SHA }}'

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-10.15, windows-latest]

    permissions:
      issues: write
    env:
      TILEDB_VERSION: dev
      MACOSX_DEPLOYMENT_TARGET: 10.14

    steps:
    - name: Set up Python
      uses: actions/setup-python@v2

    - name: Print Python version
      run: |
        which python
        which pip
        python --version

    - name: Print env
      run: printenv

    - name: Checkout TileDB-Py `dev`
      uses: actions/checkout@v2

    - name: Install dependencies
      run: python -m pip install --upgrade -r misc/requirements_ci.txt

    - name: Build TileDB-Py
      run: |
        python setup.py build_ext --inplace --werror
        python setup.py install

    - name: Test TileDB-Py
      run: pytest -vv

  create_issue_on_fail:
    runs-on: ubuntu-latest
    needs: test
    if: failure() || cancelled()
    steps:
    - name: Checkout TileDB-Py `dev`
      uses: actions/checkout@v2
    - name: Create Issue if Build Fails
      uses: JasonEtco/create-an-issue@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        filename: .github/workflows/daily-test-build-issue-template.md
