name: Daily Tests TileDB-Py

on:
  schedule:
    # runs every day at 5:00 UTC (1:00AM EST / Midnight CST)
    - cron: "0 5 * * *"
  workflow_dispatch:

jobs:
  daily-test-build:
    name: Daily Test Build (libtiledb ${{ matrix.libtiledb_version }}, Debug)
    strategy:
      matrix:
        libtiledb_version: ['2.30.0', '2.29.2']
      fail-fast: false
    uses: ./.github/workflows/ci.yml
    with:
      libtiledb_ref: ${{ matrix.libtiledb_version }}
      cmake_build_type: Debug
      python_version: "3.11"

  daily-test-build-numpy:
    name: Daily Test Build NumPy (libtiledb ${{ matrix.libtiledb_version }}, py${{ matrix.py_np_combo.python-version }}, numpy${{ matrix.py_np_combo.numpy-version }})
    strategy:
      matrix:
        libtiledb_version: ['2.30.0', '2.29.2']
        py_np_combo:
          - { python-version: "3.9", numpy-version: "1.25.2" }
          - { python-version: "3.9", numpy-version: "2.0.2" }
          - { python-version: "3.10", numpy-version: "1.25.2" }
          - { python-version: "3.10", numpy-version: "2.2.6" }
          - { python-version: "3.11", numpy-version: "1.25.2" }
          - { python-version: "3.11", numpy-version: "2.3.4" }
          - { python-version: "3.12", numpy-version: "1.26.4" }
          - { python-version: "3.12", numpy-version: "2.3.4" }
          - { python-version: "3.13", numpy-version: "2.1.3" }
          - { python-version: "3.13", numpy-version: "2.3.4" }
          - { python-version: "3.14", numpy-version: "2.3.4" }
      fail-fast: false
    uses: ./.github/workflows/ci.yml
    with:
      tiledb_version: ${{ matrix.libtiledb_version }}
      python_version: ${{ matrix.py_np_combo.python-version }}
      numpy_version: ${{ matrix.py_np_combo.numpy-version }}
