name: TileDB Python CI - With Earliest Supported Version of NumPy

# on: [push]

on:
  schedule:
    # runs every day at 5:00 UTC (1:00AM EST / Midnight CST)
    - cron: "0 5 * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        os: [ubuntu-latest, macos-12, windows-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        include:
          # https://github.com/scipy/oldest-supported-numpy/blob/main/setup.cfg
          - python-version: "3.11"
            numpy-version: "1.23.2"
          - python-version: "3.10"
            numpy-version: "1.21.6"
          - python-version: "3.9"
            numpy-version: "1.19.3"
          - python-version: "3.8"
            numpy-version: "1.17.3"
          - python-version: "3.7"
            numpy-version: "1.16.5"
      fail-fast: false
    env:
      # 11.7 necessary due to: https://github.com/actions/setup-python/issues/682#issuecomment-1604261330
      #MACOSX_DEPLOYMENT_TARGET: "10.15"
      MACOSX_DEPLOYMENT_TARGET: ${{ matrix.os == 'macos-11' && contains(fromJson('["3.7", "3.8"]'), matrix.python-version) && '11.7' || '11' }}
    steps:
      - name: Checkout TileDB-Py `dev`
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Print Python version
        run: |
          which python
          which pip
          python --version

      - name: Print env
        run: printenv

      - name: Use Oldest Version of NumPy
        run: python -m pip install numpy==${{ matrix.numpy-version }}

      - name: Checkout TileDB-Py `dev`
        uses: actions/checkout@v3

      - name: Install dependencies
        run: python -m pip install --upgrade -r misc/requirements_ci.txt

      - name: Test without pandas
        run: python -m pip uninstall -y pandas

      - name: Build TileDB-Py
        run: |
          python setup.py build_ext --inplace --werror
          python setup.py develop

      - name: Test TileDB-Py
        run: pytest -vv

  create_issue_on_fail:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    needs: test
    if: failure() || cancelled()
    steps:
      - uses: actions/checkout@v3
      - name: Create Issue if Build Fails
        uses: TileDB-Inc/github-actions/open-issue@main
        with:
          name: nightly build with earilest supported numpy
          label: bug,nightly-failure
          assignee: nguyenv,ihnorton
