name: Create Issue if Build Fails on Azure

on: [repository_dispatch]

jobs:
  clean-branch:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%a-%Y-%m-%d')"
    - name: Get libtiledb short SHA
      run: echo "LIBTILEDB_SHA=$(git ls-remote https://github.com/TileDB-Inc/TileDB HEAD | cut -c1-7)" >> $GITHUB_ENV
    - name: Clean Up Test Branch
      uses: dawidd6/action-delete-branch@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: 'azure-wheel-test-${{ steps.date.outputs.date }}-against-${{ env.LIBTILEDB_SHA }}'

  notify-fail:
    if: github.event.action == 'failed'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Create Issue if Build Fails
      uses: JasonEtco/create-an-issue@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        AZURE_BUILD_ID: ${{ github.event.client_payload.build_id }}
      with:
        filename: .github/workflows/issue-if-azure-fail-template.md
    